.container {
  display: flex;
  justify-content: space-between;
  background-color: rgb(6, 6, 77);
  color: white;
  padding: 15px;
}

.navItemWrapper {
  margin: 6px 45px;
  cursor: pointer;
  font-size: 18px;
  transition: color 0.3s;
}

.navItemWrapper:hover {
  color: #ff4500;
}
